<main class="container ml-10">
  <% if @user.avatar.attached?%>
    <%= image_tag @user.avatar %>
  <% else %>
    <%= image_tag "https://i.pinimg.com/222x/57/70/f0/5770f01a32c3c53e90ecda61483ccb08.jpg",
        class: "shadow rounded-full max-w-full h-auto align-middle border-none"%>
  <% end %>


  <%= simple_form_for @user do |f| %>
    <%= @user.avatar.attached? %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.file_field :avatar, accept: 'image/*' %>
    <%= f.submit "Upload Avatar", class: "btn-primary"%>
    <%= %>
  <% end %>
</main>