<main class="container ml-10">
  <% if @user.avatar.attached?%>
    <%= image_tag @user.avatar %>
  <% else %>
    <%= image_tag "https://i.pinimg.com/222x/57/70/f0/5770f01a32c3c53e90ecda61483ccb08.jpg",
        class: "shadow rounded-full max-w-full h-auto align-middle border-none"%>
  <% end %>

  <%= form_with url: update_user_avatar_url, method: :post do |form| %>
    <%= form.file_field :avatar, accept: 'image/*'%>
    <%= form.submit %>
  <% end %>
</main>