<% if has_user_image(current_user) %>
  <%= image_tag current_user.avatar.image.variant(resize_to_limit: [300, 300]),
      class: "shadow rounded-full max-w-full h-auto align-middle border-none" %>
<% else %>
  <%= image_tag "blank_avatar.jpeg",
        class: "shadow rounded-full max-w-full h-auto align-middle border-none"%>
<% end %>

<div data-controller="avatar">
  <%= simple_form_for @avatar do |f| %>
    <%= f.file_field :image, accept: 'image/*', data: { "avatar-target" => "fileField", action: "input->avatar#submit"} %>
    <input type="submit" data-avatar-target="submit" hidden>
  <% end %>
  <% unless current_user.avatar.nil?%>
    <%= button_to "Remove Avatar", avatar_path(@avatar.id), method: :delete, class: "btn-danger-smaller" %>
  <% end %>
</div>