<main class="container">
  <div class="header">
    <div class="create_button p-10 pt-2">
      <%= turbo_frame_tag "turbo_new_post" do %>
        <%= link_to "Create Post",
                    new_post_path,
                    class: "btn-primary",
                    data: { turbo_frame: "turbo_new_post" } %>
      <% end %>
        <%= link_to "View drafts",
                    "/index_drafts",
                    class: "btn-primary" %>
    </div>
  </div>

  <%= render "/layouts/connect_twitter"%>
  <%= render "/layouts/connect_facebook"%>
  <%= button_to "Connect Linkedin", "/auth/linkedin", method: :post, class: "btn-primary", data: { turbo: "false" }, content_type: "x-www-form-urlencoded" %>
  <%= will_paginate %>
  <%= render @posts.ordered.published %>

  <div class="admin_message">
    <% if current_user.admin == true %>
      <p class="italic">Welcome admin</p>
    <% else %>
    <% end %>
  </div>
</main> 